[Desktop Entry]
X-AppInstall-Package=rcse
X-AppInstall-Section=universe

Type=Application
Name=RCSE
Name[ar]=RCSE
Name[ast]=RCSE
Name[az]=RCSE
Name[bg]=RCSE
Name[ca]=RCSE
Name[ca@valencia]=RCSE
Name[cs]=RCSE
Name[de]=RCSE
Name[en_GB]=RCSE
Name[eo]=RCSE
Name[es]=RCSE
Name[et]=RCSE
Name[eu]=RCSE
Name[fi]=RCSE
Name[fr]=RCSE
Name[gl]=RCSE
Name[he]=RCSE
Name[hi]=आरसीएसई
Name[ia]=RCSE
Name[it]=RCSE
Name[ka]=RCSE
Name[ko]=RCSE
Name[nl]=RCSE
Name[nn]=RCSE
Name[pl]=RCSE
Name[pt]=RCSE
Name[pt_BR]=RCSE
Name[ro]=RCSE
Name[sa]=RCSE
Name[sk]=RCSE
Name[sl]=RCSE
Name[sv]=RCSE
Name[tr]=RCSE
Name[uk]=RCSE
Name[zh_TW]=RCSE
Icon=rcse
Version=1.9.3
Comment=Create charactersheet for rolisteam.
Comment[ar]=أنشئ ورقة شخصيات  روليستيم
Comment[az]=Rolistem üçün xarakter cədvəli yaratmaq
Comment[bg]=Създаване на папка на герой за rolisteam.
Comment[ca]=Crea un full de personatge per al Rolisteam.
Comment[ca@valencia]=Crea un full de personatge per a Rolisteam.
Comment[cs]=Vytvoř sešit postavy pro rolisteam.
Comment[de]=Vorlagen für Charaktere erstellen
Comment[en_GB]=Create character sheet for rolisteam.
Comment[eo]=Kreu karakterfolion por rolisteam.
Comment[es]=Crear hoja de caracteres para Rolisteam.
Comment[et]=Rolisteami karakterilehe loomine.
Comment[eu]=Sortu rolisteam-erako pertsonaia-orria.
Comment[fi]=Luo rolisteamin henkilöhahmotaulukko.
Comment[fr]=Créer des feuilles de personnage pour Rolisteam.
Comment[gl]=Crear unha folla de caracteres para rolisteam.
Comment[he]=יצירת גיליון דמויות ל־rolisteam.
Comment[hi]=रोलीस्टीम के लिए चरित्रपत्र का सृजन करें
Comment[ia]=Crea folios de characteres per rolisteam.
Comment[it]=Crea schede dei personaggi per rolisteam
Comment[ka]=Rolisteam-სთვის პერსონაჟის მონაცემების შექმნა.
Comment[ko]=Rolistream의 캐릭터 시트를 만듭니다.
Comment[nl]=Karakterblad voor rolisteam maken.
Comment[nn]=Lagar spelkarakter-ark for rolisteam.
Comment[pl]=Utwórz arkusz znaków dla rolisteam.
Comment[pt]=Criar uma folha de personagem para o Rolisteam.
Comment[pt_BR]=Criar folha de personagem para o Rolisteam.
Comment[ro]=Creează foaie de caractere pentru rolisteam.
Comment[sa]=Rolisteam कृते वर्णपत्रं रचयन्तु।.
Comment[sk]=Vytvorenie karty postavy pre rolisteam.
Comment[sl]=Ustvari tabelo znakov za rolisteam.
Comment[sv]=Skapa karaktärsblad för rolisteam.
Comment[tr]=Rolisteam için bir karakter sayfası oluşturun
Comment[uk]=Створити аркуш персонажів для rolisteam.
Comment[zh_TW]=為 Rolisteam 建立角色表。
Exec=rcse
Terminal=false
Categories=Game;
