[Desktop Entry]
X-AppInstall-Package=rcse
X-AppInstall-Section=universe

Type=Application
Name=RCSE
Icon=rcse
Version=1.9.3
Comment=Create charactersheet for rolisteam.
Exec=rcse
Terminal=false
Categories=Game;
