[Desktop Entry]
X-AppInstall-Package=rolisteam
X-AppInstall-Section=universe

Type=Application
Name=Rolisteam
Icon=rolisteam
Comment=Manage your role playing game
Exec=rolisteam
Terminal=false
Categories=Game;
