[Desktop Entry]
X-AppInstall-Package=rolisteam
X-AppInstall-Section=universe

Type=Application
Name=Rolisteam
Name[ar]=روليستيم
Name[ast]=Rolisteam
Name[az]=Rolisteam
Name[bg]=Rolisteam
Name[ca]=Rolisteam
Name[ca@valencia]=Rolisteam
Name[cs]=Rolisteam
Name[de]=Rolisteam
Name[en_GB]=Rolisteam
Name[eo]=Rolisteam
Name[es]=Rolisteam
Name[et]=Rolisteam
Name[eu]=Rolisteam
Name[fi]=Rolisteam
Name[fr]=Rolisteam
Name[gl]=Rolisteam
Name[he]=Rolisteam
Name[hi]=रोलीस्टीम
Name[ia]=Rolisteam
Name[it]=Rolisteam
Name[ka]=Rolisteam
Name[ko]=Rolisteam
Name[nl]=Rolisteam
Name[nn]=Rolisteam
Name[pl]=Rolisteam
Name[pt]=Rolisteam
Name[pt_BR]=Rolisteam
Name[ro]=Rolisteam
Name[sa]=रोलिस्टीम्
Name[sk]=Rolisteam
Name[sl]=Rolisteam
Name[sv]=Rolisteam
Name[tr]=Rolisteam
Name[uk]=Rolisteam
Name[zh_TW]=Rolisteam
Icon=org.rolisteam.rolisteam
Version=1.1
Comment=Manage your role playing game
Comment[ar]=تحكم في لعبة تقمص الأدوار الخاصة بك
Comment[az]=Rol oyununuzu idarə edin
Comment[bg]=Управлявайте вашите ролеви игри
Comment[ca]=Gestiona la partida del joc de rol
Comment[ca@valencia]=Gestiona la partida del joc de rol
Comment[cs]=Spravujte svoji hru na hrdiny
Comment[de]=Verwaltung eines Rollenspiels
Comment[en_GB]=Manage your role playing game
Comment[eo]=Administru vian rolludon
Comment[es]=Gestionar su papel en el juego
Comment[et]=Oma rollimängu haldamine
Comment[eu]=Kudeatu rolean jokatzeko zure jokoa
Comment[fi]=Hallitse roolipeliäsi
Comment[fr]=Gérez votre jeu de rôle
Comment[gl]=Xestionar o seu xogo de rol.
Comment[he]=ניהול משחקי התפקידים שלך
Comment[hi]=अपने भूमिका निभाने वाले खेल का प्रबन्धन करें
Comment[ia]=Gere tu joco de rolo
Comment[it]=Gestisci il tuo gioco di ruolo
Comment[ka]=მართეთ თქვენი თამაში
Comment[ko]=내 롤 플레잉 게임 관리
Comment[nl]=Uw rollenspelspel beheren
Comment[nn]=Organiser rollespel
Comment[pl]=Zarządzaj swoją grą rpg
Comment[pt]=Faça a gestão do seu jogo de personagens
Comment[pt_BR]=Gerencie seu RPG
Comment[ro]=Gestionați-vă jocul pe roluri
Comment[sa]=स्वस्य भूमिकानिर्वाहक्रीडां प्रबन्धयन्तु
Comment[sk]=Spravovanie hry hrania rolí
Comment[sl]=Upravljajte svojo igranje vlog
Comment[sv]=Hantera rollspel
Comment[tr]=Rol yapma oyununuzu yönetin
Comment[uk]=Керування вашою рольовою грою
Comment[zh_TW]=管理您的角色扮演遊戲
Exec=rolisteam
Terminal=false
Categories=Game;

