Source: rolisteam
Section: games
Priority: optional
Maintainer: Renaud Guezennec <renaud@rolisteam.org>
Uploaders: Alban Crommer <alban@albancrommer.com>
Build-Depends: debhelper (>= 10),
               cdbs,
               libqt5opengl5-dev,
               libqt5svg5-dev,
               libqt5xmlpatterns5-dev,
               qt5-default,
               qt5-qmake,
               qtdeclarative5-dev,
               qtmultimedia5-dev,
               qttools5-dev-tools,
               zlib1g-dev,
               qtwebengine5-dev,
               qtwebengine5-dev-tools
Standards-Version: 3.8.0
Homepage: http://www.rolisteam.org

Package: rolisteam
Section: games
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Depends: libqt5core5a,
         libqt5gui5,
         libqt5multimedia5,
         libqt5network5,
         libqt5opengl5,
         libqt5printsupport5,
         libqt5qml5,
         libqt5quick5,
         libqt5quickwidgets5,
         libqt5xml5,
         qml-module-qtwebengine,
         libqt5webengine5,
         libqt5webenginecore5,
         libqt5webenginewidgets5,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Manage easily your role playing games
 Rolisteam can help you to manage a role playing game. It allows you to share
 maps with your players, private or global chat and control music player.

Package: rolisteam-doc
Section: games
Architecture: all
Depends: rolisteam (>= 1.0.0)
Description: Documentation for rolisteam
 Technical Documentation of rolisteam
